apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-service: conditionorc
  name: conditionorc
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-service: conditionorc
  template:
    metadata:
      labels:
        k8s-service: conditionorc
    spec:
      containers:
        - image: "{{ .Values.conditionorc.image.repository }}:{{ .Values.conditionorc.image.tag }}"
          name: conditionorc
          args:
            - orchestrator
            - "--config"
            - "/etc/conditionorc/config.yaml"
            - "--log-level"
            - "debug"
            - "--replica-count=1"
          ports:
            - containerPort: 9002
          volumeMounts:
            - name: config-volume
              mountPath: /etc/conditionorc
            - name: nats-creds-volume
              mountPath: /etc/nats
              readOnly: true
          env:
            - name: CONDITIONORC_NATS_URL
              value: "{{ .Values.conditionorc.env.NATS_URL }}"
            - name: CONDITIONORC_NATS_CONNECT_TIMEOUT
              value: "{{ .Values.conditionorc.env.NATS_CONNECT_TIMEOUT }}"
            - name: CONDITIONORC_NATS_CONSUMER_NAME
              value: "conditionorc"
            - name: CONDITIONORC_NATS_CONSUMER_SUBSCRIBESUBJECTS
              value: "com.hollow.sh.controllers.responses.>"
            - name: CONDITIONORC_NATS_CONSUMER_FILTERSUBJECT
              value: "com.hollow.sh.controllers.responses.>"
            - name: CONDITIONORC_NATS_PUBLISHERSUBJECTPREFIX
              value: "com.hollow.sh.controllers.commands"
            - name: CONDITIONORC_SERVERSERVICE_ENDPOINT
              value: "{{ .Values.conditionorc.env.SERVERSERVICE_ENDPOINT }}"
            - name: CONDITIONORC_SERVERSERVICE_DISABLE_OAUTH
              value: "{{ .Values.conditionorc.env.SERVERSERVICE_DISABLE_OAUTH }}"
            - name: CONDITIONORC_SERVERSERVICE_OIDC_AUDIENCE_ENDPOINT
              value: "{{ .Values.conditionorc.env.SERVERSERVICE_OIDC_AUDIENCE_ENDPOINT }}"
            - name: CONDITIONORC_SERVERSERVICE_OIDC_ISSUER_ENDPOINT
              value: "{{ .Values.conditionorc.env.SERVERSERVICE_OIDC_ISSUER_ENDPOINT }}"
            - name: CONDITIONORC_SERVERSERVICE_OIDC_CLIENT_SCOPES
              value: "{{ .Values.conditionorc.env.SERVERSERVICE_OIDC_CLIENT_SCOPES }}"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "{{ .Values.conditionorc.env.OTEL_EXPORTER_OTLP_ENDPOINT }}"
            - name: OTEL_EXPORTER_OTLP_INSECURE
              value: "{{ .Values.conditionorc.env.OTEL_EXPORTER_OTLP_INSECURE }}"
            - name: CONDITIONORC_SERVERSERVICE_OIDC_CLIENT_ID
              value: "{{ .Values.conditionorc.env.SERVERSERVICE_OIDC_CLIENT_ID }}"
              #- name: CONDITIONORC_SERVERSERVICE_OIDC_CLIENT_SECRET
              #  valueFrom:
              #    secretKeyRef:
              #      name: conditionorc-secrets
              #      key: serverservice-oidc-client-secret
            - name: CONDITIONORC_NATS_CREDS_FILE
              value: /etc/nats/nats.creds
          resources:
            limits:
              cpu: 200m
              memory: 200M
            requests:
              cpu: 200m
              memory: 200M
          securityContext:
            capabilities:
              drop:
                - NET_RAW
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
          ports:
            - name: metrics-port
              containerPort: 9090
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics-port
            initialDelaySeconds: 60
            periodSeconds: 60
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics-port
            initialDelaySeconds: 60
            periodSeconds: 30
      volumes:
        - name: config-volume
          configMap:
            name: conditionorc-config
        - name: nats-creds-volume
          secret:
            secretName: conditionorc-secrets
            items:
              - key: conditionorc-nats-creds
                path: nats.creds
      restartPolicy: Always
